@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hover: var(--secondary-hover);
  
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-geist-mono);
  --font-head: var(--font-archivo-black);
  --font-hand: var(--font-caveat);
  
  --shadow-default: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  --shadow-sm: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  --shadow-md: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  --shadow-lg: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}

:root {
  --radius: 0px;
  --background: #ffffff;
  --foreground: #000000;
  
  --primary: #ff3131; /* Retro Red */
  --primary-hover: #d92929;
  --primary-foreground: #ffffff;
  
  --secondary: #ffffff; /* Explicit White */
  --secondary-hover: #f0f0f0;
  --secondary-foreground: #000000;
  
  --accent: #ffe616; /* Retro Yellow */
  --accent-foreground: #000000;
  
  --muted: #f3f3f3;
  --muted-foreground: #666666;
  
  --destructive: #ff4545;
  --destructive-foreground: #ffffff;
  
  --border: #000000;
  --input: #000000;
  --ring: #000000;
  
  --card: #ffffff;
  --card-foreground: #000000;
  
  --popover: #ffffff;
  --popover-foreground: #000000;
}

.dark {
  --background: #1a1a1a;
  --foreground: #ffffff;
  --primary: #ff3131;
  --primary-foreground: #ffffff;
  --secondary: #ffffff;
  --secondary-foreground: #000000;
  --border: #ffffff;
  --ring: #ffffff;
  --input: #ffffff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}